<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LuxeVista"
        tools:targetApi="31">
        <activity
            android:name=".userPages.UserAddressDetails"
            android:exported="false" />
        <activity
            android:name=".userPages.PersonalDetailsPage"
            android:exported="false" />
        <activity
            android:name=".userPages.ExploreBookingPage"
            android:exported="false" />
        <activity
            android:name=".userPages.PoolServiceBookingPage"
            android:exported="false" />
        <activity
            android:name=".userPages.DiningBookingPage"
            android:exported="false" />
        <activity
            android:name=".userPages.SpaBookingPage"
            android:exported="false" />
        <activity
            android:name=".CalanderTest"
            android:exported="false" />
        <activity
            android:name=".userPages.RoomBookingPage"
            android:exported="false" />
        <activity
            android:name=".userPages.ExploreDetailsPage"
            android:exported="false" />
        <activity
            android:name=".userPages.PoolServiceDetailsPage"
            android:exported="false" />
        <activity
            android:name=".userPages.DiningServiceDetailsPage"
            android:exported="false" />
        <activity
            android:name=".userPages.SpaServiceDetailsPage"
            android:exported="false" />
        <activity
            android:name=".userPages.RoomDetailsPage"
            android:exported="false" />
        <activity
            android:name=".YourActivity"
            android:exported="false" />
        <activity
            android:name=".adminPages.AddExplorePage"
            android:exported="false" />
        <activity
            android:name=".adminPages.AddPoolServicePage"
            android:exported="false" />
        <activity
            android:name=".adminPages.AddDiningServicePage"
            android:exported="false" />
        <activity
            android:name=".adminPages.AddSpaServicePage"
            android:exported="false" />
        <activity
            android:name=".adminPages.AdminHomePageTemp"
            android:exported="false" />
        <activity
            android:name=".adminPages.AddRoomPage"
            android:exported="false" />
        <activity
            android:name=".userPages.ProfilePage"
            android:exported="false" />
        <activity
            android:name=".userPages.BookingPage"
            android:exported="false" />
        <activity
            android:name=".userPages.ExplorePage"
            android:exported="false" />
        <activity
            android:name=".userPages.ServicesPage"
            android:exported="false" />
        <activity
            android:name=".userPages.HomePage"
            android:exported="false" />
        <activity
            android:name=".userPages.Login"
            android:exported="false" />
        <activity
            android:name=".userPages.Registration"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>